@model IEnumerable<JoeFurnitureStore.DBContext.GalleryType>

@{
    ViewBag.Title = "Index";
}

<div class="well well-sm"><h2>All Gallery Types </h2></div>

<p>
    @Html.ActionLink("Create New Gallery Type", "Create")
</p>

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GalleryTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GalleryTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GalleryTypeID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.GalleryTypeID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.GalleryTypeID })
        </td>
    </tr>
}

    </table>
}
else
{
    <div class="alert alert-warning" role="alert">There is no record found.</div>
}