@model JoeFurnitureStore.DBContext.Picture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicturePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureSizeW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureSizeW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureSizeH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureSizeH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureSizeMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureSizeMB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery.GalleryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery.GalleryID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PictureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
