@model IEnumerable<JoeFurnitureStore.DBContext.Picture>

@{
    ViewBag.Title = "Index";
}

<div class="well well-sm"><h2>All Pictures </h2></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PictureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicturePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureSizeW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureSizeH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureSizeMB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Gallery.GalleryID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PictureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicturePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureSizeW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureSizeH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureSizeMB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Gallery.GalleryID)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PictureID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.PictureID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.PictureID })
        </td>
    </tr>
}

</table>
